{% extends 'core/base.html' %}
{% load static %}
{% load customtags %}

{% block title %}{{obj.title}} | Flixmx{% endblock title %}
{% block description %}{{obj.description|truncatechars:500}}{% endblock description %}

{% block twittertitle %}{{obj.title}} | Flixmx{% endblock twittertitle %}
{% block twitterdescription %}{{obj.description|truncatechars:500}}{% endblock twitterdescription %}
{% block twitterimg %}{% if obj.tmdb_thumbnail %}{{obj.tmdb_thumbnail}}{% elif obj.thumbnail %}{{ SITE_URL }}{{obj.thumbnail.url}}{% endif %}{% endblock twitterimg %}

{% block ogtitle %}{{obj.title}} | Flixmx{% endblock ogtitle %}
{% block ogtype %}{{obj.category}}{% endblock ogtype%}
{% block ogimage %}{% if obj.tmdb_thumbnail %}{{obj.tmdb_thumbnail}}{% elif obj.thumbnail %}{{ SITE_URL }}{{obj.thumbnail.url}}{% endif %}{% endblock ogimage %}
{% block ogdescription %}{{obj.description|truncatechars:500}}{% endblock ogdescription %}

{% block content %}
<div class="movie-details-main software-games-extra-main">
    <div class="container">
        <div class="movie-details-container">
            <div class="thumbnail">
                <img src="{% if obj.thumbnail %}{{obj.thumbnail.url}}{% endif %}" alt="thumbnail">
            </div>
            <div class="col-8 details">
                <div class="item-content-title">
                    {{obj.title}}
                </div>
                <div class="movie-infos mt-3 gap-3 justify-center md:justify-start">
                    <div class="movie-info">
                        <i class="fas fa-star"></i>
                        <span>{{obj.platform|title}}</span>
                    </div>
                    <div class="movie-info">
                        <i class="fas fa-file-alt"></i>
                        <span>{{obj.size}}</span>
                    </div>
                    <div class="movie-info">
                        <i class="fas fa-list-alt"></i>
                        <span>{{obj.category|title}}</span>
                    </div>
                    {% if obj.rated %}
                    <div class="movie-info">
                        <i class="fas fa-percentage"></i>
                        <span>{{obj.rated}}</span>
                    </div>
                    {% endif %}
                </div>
                <br>
                {% if obj.genre.all %}
                <div class="row infoscontainer">
                    <div class="col-title">
                        <h4><span>Genres:</span></h4>
                    </div>
                    <div class="col-details">
                        <h4>{% for genre in obj.genre.all %}
                            <a
                                href="{% url 'genres' genrename=genre.genre_name|lower %}">{{ genre.genre_name }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </h4>
                    </div>
                </div>
                {% endif %}
                <div class="row infoscontainer">
                    <div class="col-title">
                        <h4><span>Release Date:</span></h4>
                    </div>
                    <div class="col-details">
                        <h4>{{obj.release_date}}</h4>
                    </div>
                </div>
                {% if obj.developer %}
                <div class="row infoscontainer">
                    <div class="col-title">
                        <h4><span>Developer:</span></h4>
                    </div>
                    <div class="col-details">
                        <h4>{{obj.developer}}</h4>
                    </div>
                </div>
                {% endif %}
                <br>
                <div class="row descript">
                    <div class="col-12">
                        {{obj.description|safe}}
                        <button class="see-more-btn"><i class="fas fa-chevron-down"></i></button>
                    </div>
                </div>
                <div class="item-action">
                    <div class="dropdowncontain">
                        <div class="btn btn-hover downloadbtn">
                            <i class="fas fa-caret-right fa-md expand-icon"></i>
                            <span> Download now</span>
                        </div>
                        <div class="dropdown">
                            <ul>
                                {% if obj.direct_download %}
                                <li><a href="{{obj.direct_download}}">GDirect</a></li>
                                {% endif %}
                                {% if obj.gdrive_download_link %}
                                <li>
                                    <a href="{{ obj.gdrive_download_link }}">GDShare</a>
                                </li>
                                {% endif %}
                                {% if obj.onedrive_download_link %}
                                <li>
                                    <a href="{{ obj.onedrive_download_link }}">OneDrive </a>
                                </li>
                                {% endif %}
                                {% if obj.torrent %}
                                <li><a href="{{obj.torrent}}">Torrent</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="total-view-down-infos">
            <div class=""><i class="fas fa-eye"></i>View: 0</div>
            <div class=""><i class="fas fa-download"></i>Download: 0</div>
        </div>
        <div class="container extrainfo-container">
            {% if obj.min_sys_req %}
            <div class="col-12">
                <h3>Minimum System Requirements</h3>
                {{obj.min_sys_req}}
            </div>
            {% endif %}
            {% if obj.rec_sys_req %}
            <div class="col-12">
                <h3>Recommended System Requirements</h3>
                {{obj.rec_sys_req}}
            </div>
            {% endif %}
            {% if obj.general_notes %}
            <div class="col-12">
                <h3>General Notes</h3>
                {{obj.general_notes}}
            </div>
            {% endif %}
        </div>
        <div class="review-container">
            <a class="tbutton tbutton1" href="https://facebook.com/groups/flixmxofficial"><i
                    class='bx bxl-facebook bx-burst'></i>Join
                FB Group</a>
            <a class="tbutton tbutton2" href="https://telegram.im/@flixmxchat"><i class='bx bxl-telegram bx-burst'></i>Join
                TG Group</a>
            <a class="tbutton tbutton3" href="https://www.youtube.com/watch?v=GiMBlRmCFIA"><i
                    class='bx bxl-youtube bx-burst'></i>How To Download</a>
        </div>
    </div>
</div>

<!-- Recommend Section -->
<div class="section">
    <div class="container">
        <div class="section-header">
            You may also like
        </div>
        <div class="splide slider__content animate__animated" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in recobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_softwaresGames' category=i.category pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-info-circle"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title text-lg text-ellipsis overflow-hidden whitespace-nowrap">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.platform|title}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-list-alt"></i>
                                        <span>{{i.category|title}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-file-alt"></i>
                                        <span>{{i.size}}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Recommend Section -->
<div class="section comment-section">
    <div class="container">
        <div id="disqus_thread"></div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document,
                    s = d.createElement('script');
                s.src = 'https://flixmx-com.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
                Disqus.</a></noscript>
    </div>
</div>
{% endblock content %}