{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{obj.series.title}} (Season {{obj.season_number}}) | Flixmx{% endblock title %}
{% block description %}{{obj.series.description|truncatechars:500}}{% endblock description %}

{% block twittertitle %}{{obj.series.title}} (Season {{obj.season_number}}) | Flixmx{% endblock twittertitle %}
{% block twitterdescription %}{{obj.series.description|truncatechars:500}}{% endblock twitterdescription %}
{% block twitterimg %}{% if obj.series.tmdb_thumbnail %}{{obj.series.tmdb_thumbnail}}{% elif obj.series.thumbnail %}{{ SITE_URL }}{{obj.series.thumbnail.url}}{% endif %}{% endblock twitterimg %}

{% block ogtitle %}{{obj.series.title}} (Season {{obj.season_number}}) | Flixmx{% endblock ogtitle %}
{% block ogtype %}{{obj.series.type}}{% endblock ogtype%}
{% block ogimage %}{% if obj.series.tmdb_thumbnail %}{{obj.series.tmdb_thumbnail}}{% elif obj.series.thumbnail %}{{ SITE_URL }}{{obj.series.thumbnail.url}}{% endif %}{% endblock ogimage %}
{% block ogdescription %}{{obj.series.description|truncatechars:500}}{% endblock ogdescription %}

{% block content %}
<div class="episode-main" data-season-id="{{obj.id}}">
    <div id="primary-slider" class="splide">

        <div class="splide__track">
            <ul class="splide__list">
                {% for episode in episodes %}
                <li class="splide__slide">
                    <img src="{% if obj.series.tmdb_poster %}{{ obj.series.tmdb_poster }}{% elif obj.series.poster %}{{obj.series.poster.url}}{% elif obj.series.tmdb_thumbnail %}{{obj.series.tmdb_thumbnail}}{% elif obj.series.thumbnail %}{{obj.series.thumbnail.url}}{% else %}''{% endif %}"
                        loading="lazy">
                    <div class="primary-slider-content">
                        <h2>{{obj.series.title}} : Season {{obj.season_number}} , Episode {{episode.episode}}</h2>
                        <h1 class="title">{{episode.title}}</h1>
                        <div class="episode-descript">
                            {{episode.description|safe}}
                        </div>

                        <div class="item-action">

                            <div class="dropdowncontain">
                                <div class="btn btn-hover downloadbtn">
                                    <i class="fas fa-caret-right fa-md expand-icon"></i>
                                    <span> watch now</span>
                                </div>
                                <div class="dropdown">
                                    <ul>
                                        {% if episode.watch_link_main_source %}
                                        <li><a href="{{ episode.watch_link_main_source }}">Main Source</a></li>
                                        {% endif %}
                                        {% if episode.watch_link_alt1_name and episode.watch_link_alt1_url %}
                                        <li><a
                                                href="{{ episode.watch_link_alt1_url }}">{{ episode.watch_link_alt1_name }}</a>
                                        </li>
                                        {% endif %}
                                        {% if episode.watch_link_alt2_name and episode.watch_link_alt2_url %}
                                        <li><a
                                                href="{{ episode.watch_link_alt2_url }}">{{ episode.watch_link_alt2_name }}</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="dropdowncontain">
                                <div class="btn btn-hover downloadbtn">
                                    <i class="fas fa-caret-right fa-md expand-icon"></i>
                                    <span> Download now</span>
                                </div>


                                <div class="dropdown">
                                    <ul>
                                        {% if episode.direct_download_main or episode.direct_download_alt1_url or episode.direct_download_alt2_url %}
                                        <li>
                                            <a><i class="fas fa-caret-right fa-md expand-icon"></i>GDirect</a>
                                            <div class="dropdown-sub">
                                                {% if episode.direct_download_main %}
                                                <a href="{{episode.direct_download_main}}">Main Source</a>
                                                {% endif %}
                                                {% if episode.direct_download_alt1_name and episode.direct_download_alt1_url %}
                                                <a
                                                    href="{{episode.direct_download_alt1_url}}">{{episode.direct_download_alt1_name}}</a>
                                                {% endif %}
                                                {% if episode.direct_download_alt2_name and episode.direct_download_alt2_url %}
                                                <a
                                                    href="{{episode.direct_download_alt2_url}}">{{episode.direct_download_alt2_name}}</a>
                                                {% endif %}
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% if episode.gdrive_download_main or episode.gdrive_download_alt1_url or episode.gdrive_download_alt2_url %}
                                        <li><a><i class="fas fa-caret-right fa-md expand-icon"></i>GDShare</a>
                                            <div class="dropdown-sub">
                                                {% if episode.gdrive_download_main %}
                                                <a href="{{episode.gdrive_download_main}}">Main Source</a>
                                                {% endif %}
                                                {% if episode.gdrive_download_alt1_name and episode.gdrive_download_alt1_url %}
                                                <a
                                                    href="{{episode.gdrive_download_alt1_url}}">{{episode.gdrive_download_alt1_name}}</a>
                                                {% endif %}
                                                {% if episode.gdrive_download_alt2_name and episode.gdrive_download_alt2_url %}
                                                <a
                                                    href="{{episode.gdrive_download_alt2_url}}">{{episode.gdrive_download_alt2_name}}</a>
                                                {% endif %}
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% if episode.onedrive_download_main or episode.onedrive_download_alt1_url or episode.onedrive_download_alt2_url %}
                                        <li><a><i class="fas fa-caret-right fa-md expand-icon"></i>One Drive</a>
                                            <div class="dropdown-sub">
                                                {% if episode.onedrive_download_main %}
                                                <a href="{{episode.onedrive_download_main}}">Main Source</a>
                                                {% endif %}
                                                {% if episode.onedrive_download_alt1_name and episode.onedrive_download_alt1_url %}
                                                <a
                                                    href="{{episode.onedrive_download_alt1_url}}">{{episode.onedrive_download_alt1_name}}</a>
                                                {% endif %}
                                                {% if episode.onedrive_download_alt2_name and episode.onedrive_download_alt2_url %}
                                                <a
                                                    href="{{episode.onedrive_download_alt2_url}}">{{episode.onedrive_download_alt2_name}}</a>
                                                {% endif %}
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% if episode.mega_download_main or episode.mega_download_alt1_url or episode.mega_download_alt2_url %}
                                        <li><a><i class="fas fa-caret-right fa-md expand-icon"></i>Mega</a>
                                            <div class="dropdown-sub">
                                                {% if episode.mega_download_main %}
                                                <a href="{{episode.mega_download_main}}">Main Source</a>
                                                {% endif %}
                                                {% if episode.mega_download_alt1_name and episode.mega_download_alt1_url %}
                                                <a
                                                    href="{{episode.mega_download_alt1_url}}">{{episode.mega_download_alt1_name}}</a>
                                                {% endif %}
                                                {% if episode.mega_download_alt2_name and episode.mega_download_alt2_url %}
                                                <a
                                                    href="{{episode.mega_download_alt2_url}}">{{episode.mega_download_alt2_name}}</a>
                                                {% endif %}
                                            </div>
                                        </li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="subtitle">
                            <h3>
                                <a class="" href="{{episode.subtitle_link}}"><span>Download
                                        Subtitle</span></a>
                            </h3>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="secondary-slider" class="splide">
        <div class="content">
            <h2>Episodes List <i class="fad fa-angle-double-right"></i></h2>
        </div>
        <div class="splide__track">
            <ul class="splide__list">
                {% for episode in episodes %}
                <li class="splide__slide">
                    <img src="{% if episode.thumbnail %}{{ episode.thumbnail.url }}{% elif obj.thumbnail %}{{obj.thumbnail.url}}{% elif obj.series.tmdb_thumbnail %}{{obj.series.tmdb_thumbnail}}{% else %}{{obj.series.thumbnail.url}}{% endif %}"
                        loading="lazy" alt="">
                    <div class="ep-num">
                        <h2>Ep {{episode.episode}}</h2>
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="fas fa-star"></i>
                            <span>{{episode.rating}}</span>
                        </div>
                        <div class="movie-info">
                            <i class="fas fa-clock"></i>
                            <span>{{episode.runtime}}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- Recommend Section -->
<div class="section">
    <div class="container">
        <div class="section-header">
            You may also like
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in recobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_season' pk=i.id %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.thumbnail %}{{ i.thumbnail.url }}{% elif i.series.tmdb_thumbnail %}{{i.series.tmdb_thumbnail}}{% elif i.series.thumbnail %}{{i.series.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.series.title}} - Season {{i.season_number}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>Episodes : {{i.episode_count}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>Status : {% if i.complete %} Completed {% else %} Running
                                            {% endif %}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Recommend Section -->
{% endblock content %}