{% extends 'core/base.html' %}
{% load static %}

{% block title %}Flixmx | Watch & Download Movies,TV-Series{% endblock title%}
{% block twittertitle %}Flixmx | Watch & Download Movies,TV-Series{% endblock twittertitle %}
{% block ogtitle %}Flixmx | Watch & Download Movies,TV-Series{% endblock ogtitle %}
{% block ogtype %}home{% endblock ogtype%}

{% block content %}
<div class="hero-section">
    <!-- HERO SLIDE -->
    <div class="hero-slide">
        <div class="splide" id="heroslider_content">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for i in topsliderobjs %}
                    {% if i.movie_content %}
                    <li class="splide__slide">
                        <div class="hero-slide-item">
                            <img data-splide-lazy="{% if i.movie_content.tmdb_poster %}{{i.movie_content.tmdb_poster}}{% elif i.movie_content.poster %}{{i.movie_content.poster.url}}{% elif i.movie_content.thumbnail %}{{i.movie_content.thumbnail.url}}{% endif %}"
                                alt="poster">
                            <div class="overlay"></div>
                            <div class="hero-slide-item-content">
                                <div class="item-content-wraper">
                                    <div class="item-content-title top-down">
                                        {{i.movie_content.title|safe}}
                                    </div>
                                    <div class="movie-infos top-down delay-2">
                                        <div class="movie-info">
                                            <i class="fas fa-star"></i>
                                            <span>{{i.movie_content.rating}}</span>
                                        </div>
                                        <div class="movie-info">
                                            <i class="fas fa-clock"></i>
                                            <span>{{i.movie_content.runtime}}</span>
                                        </div>
                                        <div class="movie-info">
                                            <i class="fas fa-list-alt"></i>
                                            <span>{{i.movie_content.type|title}}</span>
                                        </div>
                                        {% if i.movie_content.rated %}
                                        <div class="movie-info">
                                            <i class="fas fa-percentage"></i>
                                            <span>{{i.movie_content.rated}}</span>
                                        </div>
                                        {% endif %}
                                        {% if i.movie_content.info1 %}
                                        <div class="info1 heroslide">
                                            {{i.movie_content.info1}}
                                        </div>
                                        {% endif %}
                                        {% if i.movie_content.info2 %}
                                        <div class="info2 heroslide">
                                            {{i.movie_content.info2}}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="item-content-description top-down delay-4">
                                        {{i.movie_content.description|slice:":320"}}
                                    </div>
                                    <div class="item-action top-down delay-6">
                                        <a href="{% if i.movie_content.watch_link_main_source %}{{i.movie_content.watch_link_main_source}}{% endif %}"
                                            class="btn btn-hover">
                                            <i class="fas fa-caret-right fa-md"></i>
                                            <span>Watch now</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% if i.series_content %}
                    <li class="splide__slide">
                        <div class="hero-slide-item">
                            <img data-splide-lazy="{% if i.series_content.tmdb_poster %}{{i.series_content.tmdb_poster}}{% elif i.series_content.poster %}{{i.series_content.poster.url}}{% elif i.series_content.thumbnail %}{{i.series_content.thumbnail.url}}{% endif %}"
                                alt="poster">
                            <div class="overlay"></div>
                            <div class="hero-slide-item-content">
                                <div class="item-content-wraper">
                                    <div class="item-content-title top-down">
                                        {{i.series_content.title|safe}}
                                    </div>
                                    <div class="movie-infos top-down delay-2">
                                        <div class="movie-info">
                                            <i class="fas fa-star"></i>
                                            <span>{{i.series_content.rating}}</span>
                                        </div>
                                        <div class="movie-info">
                                            <i class="fas fa-list-alt"></i>
                                            <span>{{i.series_content.type|title}}</span>
                                        </div>
                                        <div class="movie-info">
                                            <i class="far fa-calendar-alt"></i>
                                            <span>{% if not i.series_content.end_date %}
                                                {{i.series_content.release_date|date:"Y"}}
                                                {% else %} {{i.series_content.release_date|date:"Y"}} -
                                                {{i.series_content.end_date|date:"Y"}}{% endif %}</span>
                                        </div>
                                        {% if i.series_content.rated %}
                                        <div class="movie-info">
                                            <i class="fas fa-percentage"></i>
                                            <span>{{i.series_content.rated}}</span>
                                        </div>
                                        {% endif %}
                                        {% if i.series_content.info1 %}
                                        <div class="info1 heroslide">
                                            {{i.series_content.info1}}
                                        </div>
                                        {% endif %}
                                        {% if i.movie_content.info2 %}
                                        <div class="info2 heroslide">
                                            {{i.series_content.info2}}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="item-content-description top-down delay-4">
                                        {{i.series_content.description|slice:":320"}}
                                    </div>
                                    <div class="item-action top-down delay-6">
                                        <a href="{% url 'details_series' pk=i.series_content.slug %}"
                                            class="btn btn-hover">
                                            <i class="fas fa-caret-right fa-md"></i>
                                            <span>Watch now</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
            <div class="splide__arrows">
                <button class="splide__arrow splide__arrow--prev">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button class="splide__arrow splide__arrow--next">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- END HERO SLIDE -->
    <!-- TOP MOVIES SLIDE -->
    <div class="top-movies-slide">
        <div class="splide topslider__content" id="topslider__content">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for i in topmovieobjs %}
                    <li class="splide__slide">
                        <a href="{% url 'details_movie' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>{{i.runtime}}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                    <div class="movie-info">
                                        <i class="fas fa-list-alt"></i>
                                        <span>{{i.type|title}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- END TOP MOVIES SLIDE -->
</div>
<!-- END HERO SECTION -->
<!-- ENGLISH MOVIES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            english movies
            <div class="totalobj">
                <span>{{engmovieobjs.count}}</span>
                <a href="{% url 'movies' type='english' %}">see all</a>
            </div>
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in engmovieobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_movie' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>{{i.runtime}}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END ENGLISH MOVIES SECTION -->
<!-- HINDI MOVIES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            hindi movies
            <div class="totalobj">
                <span>{{hindimovieobjs.count}}</span>
                <a href="{% url 'movies' type='hindi' %}">see all</a>
            </div>
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in hindimovieobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_movie' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>{{i.runtime}}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END HINDI MOVIES SECTION -->
<!-- SOUTH INDIAN MOVIES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            south indian movies
            <div class="totalobj">
                <span>{{southmovieobjs.count}}</span>
                <a href="{% url 'movies' type='south_indian' %}">see all</a>
            </div>
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in southmovieobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_movie' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>{{i.runtime}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-list-alt"></i>
                                        <span>{{i.type|title}}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END SOUTH INDIAN MOVIES SECTION -->
<!-- FOREIGN MOVIES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            foreign movies
            <div class="totalobj">
                <span>{{frgmovieobjs.count}}</span>
                <a href="{% url 'movies' type='foreign' %}">see all</a>
            </div>
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in frgmovieobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_movie' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>{{i.runtime}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-list-alt"></i>
                                        <span>{{i.type|title}}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END FOREIGN MOVIES SECTION -->
<!-- DUAL AUDIO MOVIES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            dual audio movies
            <div class="totalobj">
                <span>{{dualaudioobjs.count}}</span>
                <a href="{% url 'dualaudio' %}">see all</a>
            </div>
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in dualaudioobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_movie' pk=i.movie_content.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.movie_content.info1 %}
                            <div class="info1">
                                {{i.movie_content.info1}}
                            </div>
                            {% endif %}
                            {% if i.movie_content.info2 %}
                            <div class="info2">
                                {{i.movie_content.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img class="owl-lazy"
                                data-splide-lazy="{% if i.movie_content.tmdb_thumbnail %}{{i.movie_content.tmdb_thumbnail}}{% elif i.movie_content.thumbnail %}{{i.movie_content.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.movie_content.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.movie_content.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>{{i.movie_content.runtime}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-list-alt"></i>
                                        <span>{{i.movie_content.type|title}}</span>
                                    </div>
                                    {% if i.movie_content.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.movie_content.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END DUAL AUDIO  MOVIES SECTION -->
<!-- SERIES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            tv & web series
            <div class="totalobj">
                <span>{{seriesobjs.count}}</span>
                <a href="{% url 'series' type='all' %}">see all</a>
            </div>
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in seriesobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_series' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-list-alt"></i>
                                        <span>{{i.type|title}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="far fa-calendar-alt"></i>
                                        <span>{% if not i.end_date %} ( {{i.release_date|date:"Y"}} )
                                            {% else %}( {{i.release_date|date:"Y"}} - {{i.end_date|date:"Y"}}
                                            ){% endif %}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END SERIES SECTION -->
<!-- ANIMATIONS SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            animations
            <div class="totalobj">
                <span>{{animationobjs.count}}</span>
                <a href="{% url 'movies' type='animation' %}">see all</a>
            </div>
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in animationobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_movie' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>{{i.runtime}}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END ANIMATIONS SECTION -->
<!-- ANIME MOVIES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            anime movies
            <div class="totalobj">
                <span>{{animemovieobjs.count}}</span>
                <a href="{% url 'movies' type='anime' %}">see all</a>
            </div>
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in animemovieobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_movie' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>{{i.runtime}}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END ANIME MOVIES SECTION -->
<!-- ANIME SERIES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            anime series
            <div class="totalobj">
                <span>{{animeseriesobjs.count}}</span>
                <a href="{% url 'series' type='anime' %}">see all</a>
            </div>
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in animeseriesobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_series' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="far fa-calendar-alt"></i>
                                        <span>{% if not i.end_date %} ( {{i.release_date|date:"Y"}} )
                                            {% else %}( {{i.release_date|date:"Y"}} - {{i.end_date|date:"Y"}}
                                            ){% endif %}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END ANIME SERIES SECTION -->
<!-- KDARAMA SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            k-dramas
            <div class="totalobj">
                <span>{{kdramaobjs.count}}</span>
                <a href="{% url 'series' type='korean' %}">see all</a>
            </div>
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in kdramaobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_series' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="far fa-calendar-alt"></i>
                                        <span>{% if not i.end_date %} (
                                            {{i.release_date|date:"Y"}} )
                                            {% else %}( {{i.release_date|date:"Y"}} - {{i.end_date|date:"Y"}}
                                            ){% endif %}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END SERIES SECTION -->
<!-- SOFTWARES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            softwares
            <div class="totalobj">
                <span>{{softwaresobjs.count}}</span>
                <a href="{% url 'softwaresGames' category='softwares' %}">see all</a>
            </div>
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in softwaresobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_softwaresGames' category=i.category pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-info-circle"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.platform|title}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-list-alt"></i>
                                        <span>{{i.category|title}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-file-alt"></i>
                                        <span>{{i.size}}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END SOFTWARES SECTION -->
<!-- GAMES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            Games
            <div class="totalobj">
                <span>{{gamesobjs.count}}</span>
                <a href="{% url 'softwaresGames' category='games' %}">see all</a>
            </div>
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in gamesobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_softwaresGames' category=i.category pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-info-circle"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.platform|title}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-list-alt"></i>
                                        <span>{{i.category|title}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-file-alt"></i>
                                        <span>{{i.size}}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END GAMES SECTION -->
<!-- SPECIAL MOVIE SECTION -->
<div class="section">
    <div class="hero-slide-item">
        <img src="{% if specialobj.tmdb_poster %}{{specialobj.tmdb_poster}}{% elif specialobj.poster %}{{specialobj.poster.url}}{% elif specialobj.tmdb_thumbnail %}{{ specialobj.tmdb_thumbnail }}{% elif specialobj.thumbnail %}{{ specialobj.thumbnail.url }}{% endif %}"
            alt="thumbnail">
        <div class="overlay"></div>
        <div class="hero-slide-item-content">
            <div class="item-content-wraper">
                <div class="item-content-title">
                    {{specialobj.title}}
                </div>
                <div class="movie-infos">
                    <div class="movie-info">
                        <i class="fas fa-star"></i>
                        <span>{{specialobj.rating}}</span>
                    </div>
                    <div class="movie-info">
                        <i class="fas fa-clock"></i>
                        <span>{{specialobj.runtime}}</span>
                    </div>
                    <div class="movie-info">
                        <i class="fas fa-list-alt"></i>
                        <span>{{specialobj.type|title}}</span>
                    </div>
                    {% if specialobj.rated %}
                    <div class="movie-info">
                        <i class="fas fa-percentage"></i>
                        <span>{{specialobj.rated}}</span>
                    </div>
                    {% endif %}
                </div>
                <div class="item-content-description">
                    {{specialobj.description}}
                </div>
                <div class="item-action">
                    <a href="{{specialobj.watch_link_main_source}}" class="btn btn-hover">
                        <i class="fas fa-caret-right fa-md"></i>
                        <span>Watch now</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SPECIAL MOVIE SECTION -->
{% endblock content %}