{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h2 style="padding: 0.5rem;text-align: center;background-color: #444;font-size: 1.75rem;margin-top: 1rem;">
        Search Result For : " {{searched}} "</h2>
</div>

<!-- MOVIES SECTION -->
{% if movieobjs %}
<div class="section">
    <div class="container">
        <div class="section-header">
            movies
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in movieobjs %}
                    <li class="splide__slide">
                        <a href="{% url 'details_movie' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>{{i.runtime}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-list-alt"></i>
                                        <span>{{i.type|title}}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- END MOVIES SECTION -->

<!-- SERIES SECTION -->
{% if seriesobjs %}
<div class="section">
    <div class="container">
        <div class="section-header">
            tv & web series
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in seriesobjs %}
                    <li class="splide__slide">
                        <a href="{% url 'details_series' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-list-alt"></i>
                                        <span>{{i.type|title}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="far fa-calendar-alt"></i>
                                        <span>{% if not i.end_date %} ( {{i.release_date|date:"Y"}} )
                                            {% else %}( {{i.release_date|date:"Y"}} - {{i.end_date}} ){% endif %}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- END SERIES SECTION -->

<!-- ANIMATIONS SECTION -->
{% if animationobjs %}
<div class="section">
    <div class="container">
        <div class="section-header">
            animations
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in animationobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_movie' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>{{i.runtime}}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- END ANIMATIONS SECTION -->

<!-- ANIME MOVIES SECTION -->
{% if animemovieobjs %}
<div class="section">
    <div class="container">
        <div class="section-header">
            anime movies
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in animemovieobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_movie' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>{{i.runtime}}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- END ANIME MOVIES SECTION -->

{% if animeseriesobjs %}
<!-- ANIME SERIES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            anime series
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in animeseriesobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_series' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="far fa-calendar-alt"></i>
                                        <span>{% if not i.end_date %} ( {{i.release_date|date:"Y"}} )
                                            {% else %}( {{i.release_date|date:"Y"}} - {{i.end_date}} ){% endif %}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- END ANIME SERIES SECTION -->

<!-- KDARAMA SECTION -->
{% if kdramaobjs %}
<div class="section">
    <div class="container">
        <div class="section-header">
            k-dramas
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in kdramaobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_series' pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-play"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.rating}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="far fa-calendar-alt"></i>
                                        <span>{% if not i.end_date %} (
                                            {{i.release_date|date:"Y"}} )
                                            {% else %}( {{i.release_date|date:"Y"}} - {{i.end_date}} ){% endif %}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- END SERIES SECTION -->

<!-- SOFTWARES SECTION -->
{% if softwaresobjs %}
<div class="section">
    <div class="container">
        <div class="section-header">
            softwares
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in softwaresobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_softwaresGames' category=i.category pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-info-circle"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.platform|title}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-list-alt"></i>
                                        <span>{{i.category|title}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-file-alt"></i>
                                        <span>{{i.size}}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- END SOFTWARES SECTION -->

<!-- GAMES SECTION -->
{% if gamesobjs %}
<div class="section">
    <div class="container">
        <div class="section-header">
            Games
        </div>
        <div class="splide slider__content" id="">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- ITEM -->
                    {% for i in gamesobjs|slice:":50" %}
                    <li class="splide__slide">
                        <a href="{% url 'details_softwaresGames' category=i.category pk=i.slug %}" class="movie-item">
                            <div class="play-btn">
                                <i class="fad fa-info-circle"></i>
                            </div>
                            {% if i.info1 %}
                            <div class="info1">
                                {{i.info1}}
                            </div>
                            {% endif %}
                            {% if i.info2 %}
                            <div class="info2">
                                {{i.info2}}
                            </div>
                            {% endif %}
                            <div class="card-overlay"></div>
                            <img data-splide-lazy="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                                alt="thumbnail">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    {{i.title}}
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-star"></i>
                                        <span>{{i.platform|title}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-list-alt"></i>
                                        <span>{{i.category|title}}</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-file-alt"></i>
                                        <span>{{i.size}}</span>
                                    </div>
                                    {% if i.rated %}
                                    <div class="movie-info">
                                        <i class="fas fa-percentage"></i>
                                        <span>{{i.rated}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- END ITEM -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- END GAMES SECTION -->

{% endblock content %}