{% extends 'core/base.html' %}
{% load static %}

{% block title %}Contact Us | Flixmx | Watch & Download Movies,TV-Series{% endblock title %}
{% block twittertitle %}Contact Us | Flixmx | Watch & Download Movies,TV-Series{% endblock twittertitle %}
{% block ogtitle %}Contact Us | Flixmx | Watch & Download Movies,TV-Series{% endblock ogtitle %}
{% block ogtype %}Contact Us{% endblock ogtype%}

{% block content %}
<div class="section"></div>
<div class="container" style="text-align:center">
    <h1 style="text-align: center; padding: 20px;">Contact Us</h1>
    Address: Ashulia, Savar, Dhaka - 1349
    <br>
    Phone: 01911606385
    <br>
    Email: support@flixmx.com
    <br>
    Website: <a href="https://intellectbd.org">https://intellectbd.org</a>
</div>
</div>
{% endblock content %}