{% extends 'core/base.html' %}
{% load static %}
{% load customtags %}
{% block title %}BSub Translator - {{creator.name|title}} | Flixmx{% endblock title %}

{% block twittertitle %}BSub Translator - {{creator.name|title}} | Flixmx{% endblock twittertitle %}

{% block ogtitle %}BSub Translator - {{creator.name|title}} | Flixmx{% endblock ogtitle %}

{% block ogtype %}BSubTranslator{{creator.name|title}}{% endblock ogtype%}

{% block content %}

<div class="section" style="max-width: 1920px;">
    <div class="container">
        <div class="section-header">
            BSub Translator - {{creator.name|title}}
            <div class="totalobj">
                <span class="total">Total - {{totalobj}}</span>
            </div>
        </div>
        <a class="subscene-profile-link" href="{{creator.subscene_url}}" target="_blank">Subscene Profile <i
                class="fad fa-external-link-alt"></i></a>

        <div class="recContent_main">
            <!-- MOVIE ITEM -->
            {% for i in movies %}
            <a href=" {% if i.get_model_name == 'series' %}{% url 'details_series' pk=i.slug %}{% else %}{% url 'details_movie' pk=i.slug %}{% endif %}"
                class="recContent col-3">
                {% if i.info1 %}
                <div class="info1">
                    {{i.info1}}
                </div>
                {% endif %}
                {% if i.info2 %}
                <div class="info2">
                    {{i.info2}}
                </div>
                {% endif %}
                <div class="card-overlay"></div>
                <img src="{% if i.tmdb_thumbnail %}{{i.tmdb_thumbnail}}{% elif i.thumbnail %}{{i.thumbnail.url}}{% endif %}"
                    alt="thumbnail" loading="lazy">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        {{i.title}}
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="fas fa-star"></i>
                            <span>{{i.rating}}</span>
                        </div>
                        {% if i.runtime %}
                        <div class="movie-info">
                            <i class="fas fa-clock"></i>
                            <span>{{i.runtime}}</span>
                        </div>
                        {% endif %}
                        {% if i.rated %}
                        <div class="movie-info">
                            <i class="fas fa-percentage"></i>
                            <span>{{i.rated}}</span>
                        </div>
                        {% endif %}
                        <div class="movie-info">
                            <i class="fas fa-list-alt"></i>
                            <span>{{i.type|humanize}}</span>
                        </div>
                        <div class="movie-info">
                            <i class="fad fa-popcorn"></i>
                            <span>{{i.get_model_name|title}}</span>
                        </div>
                        {% if i.get_model_name == 'series' %}
                        <div class="movie-info">
                            <i class="far fa-calendar-alt"></i>
                            <span>{% if not i.end_date %} {{i.release_date|date:"Y"}}
                                {% else %}{{i.release_date|date:"Y"}} - {{i.end_date|date:"Y"}}{% endif %}</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <ul class="pagination justify-content-center">
        {% if movies.number != 1 %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
        </li>
        {% endif %}
        {% if movies.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ movies.previous_page_number }}">&lsaquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&lsaquo;</a>
        </li>
        {% endif %}

        {% if movies.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ movies.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in movies.paginator.page_range %}
        {% if movies.number == i %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
            </span>
        </li>
        {% elif i > movies.number|add:'-5' and i < movies.number|add:'5' %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if movies.paginator.num_pages > movies.number|add:'4' %}
        <li class="page-item"><a class="page-link" href="?page={{ movies.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if movies.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ movies.next_page_number }}">&rsaquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&rsaquo;</a>
        </li>
        {% endif %}
        {% if movies.number != movies.paginator.num_pages %}
        <li class="page-item">
            <a class="page-link" href="?page={{ movies.paginator.num_pages }}">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
<!--end of Pagination-->

{% endblock content %}